


<div id="dashboard">
    <h2 class="alert alert-warning">Dashboard</h2>
</div>


<!-- Custom HTML HERE -->
<div class="row">
    <div progress></div>
</div>


<div class="row">
    <div quarter-widget title="Quarter Widget1" body="This is the body of a quarter widget" footer="No Data Source"></div>
    <div quarter-widget title="Quarter Widget2" body="This is the body of a quarter widget" footer="No Data Source"></div>
    <div half-widget title="Half Widget" body="Half glass full" footer=""></div>
</div>

<div class="row">
    <full-widget data="data"></full-widget>

    
</div>

